[react-drawer] {
  touch-action: none;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[react-drawer][react-drawer-direction='bottom'] {
  transform: translate3d(0, 100%, 0);
}

[react-drawer][react-drawer-direction='top'] {
  transform: translate3d(0, -100%, 0);
}

[react-drawer][react-drawer-direction='left'] {
  transform: translate3d(-100%, 0, 0);
}

[react-drawer][react-drawer-direction='right'] {
  transform: translate3d(100%, 0, 0);
}

.react-dragging .react-scrollable [react-drawer-direction='top'] {
  overflow-y: hidden !important;
}
.react-dragging .react-scrollable [react-drawer-direction='bottom'] {
  overflow-y: hidden !important;
}

.react-dragging .react-scrollable [react-drawer-direction='left'] {
  overflow-x: hidden !important;
}

.react-dragging .react-scrollable [react-drawer-direction='right'] {
  overflow-x: hidden !important;
}

[react-drawer][react-drawer-visible='true'][react-drawer-direction='top'] {
  transform: translate3d(0, var(--snap-point-height, 0), 0);
}

[react-drawer][react-drawer-visible='true'][react-drawer-direction='bottom'] {
  transform: translate3d(0, var(--snap-point-height, 0), 0);
}

[react-drawer][react-drawer-visible='true'][react-drawer-direction='left'] {
  transform: translate3d(var(--snap-point-height, 0), 0, 0);
}

[react-drawer][react-drawer-visible='true'][react-drawer-direction='right'] {
  transform: translate3d(var(--snap-point-height, 0), 0, 0);
}

[react-overlay] {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[react-overlay][react-drawer-visible='true'] {
  opacity: 1;
}

[react-drawer]::after {
  content: '';
  position: absolute;
  background: inherit;
  background-color: inherit;
}

[react-drawer][react-drawer-direction='top']::after {
  top: initial;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 200%;
}

[react-drawer][react-drawer-direction='bottom']::after {
  top: 100%;
  bottom: initial;
  left: 0;
  right: 0;
  height: 200%;
}

[react-drawer][react-drawer-direction='left']::after {
  left: initial;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 200%;
}

[react-drawer][react-drawer-direction='right']::after {
  left: 100%;
  right: initial;
  top: 0;
  bottom: 0;
  width: 200%;
}

[react-handle] {
  display: block;
  position: relative;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 56px;
  border-radius: 1rem;
  touch-action: pan-y;
  cursor: grab;
}

[react-handle]:hover,
[react-handle]:active {
  opacity: 1;
}

[react-handle]:active {
  cursor: grabbing;
}

[react-handle-hitarea] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max(100%, 2.75rem); /* 44px */
  height: max(100%, 2.75rem); /* 44px */
  touch-action: inherit;
}

[react-overlay][react-snap-points='true']:not([react-snap-points-overlay='true']):not([data-state='closed']) {
  opacity: 0;
}

[react-overlay][react-snap-points-overlay='true']:not([react-drawer-visible='false']) {
  opacity: 1;
}

/* This will allow us to not animate via animation, but still benefit from delaying unmount via Radix. */
@keyframes fake-animation {
  from {
  }
  to {
  }
}

@media (hover: hover) and (pointer: fine) {
  [react-drawer] {
    user-select: none;
  }
}

@media (pointer: fine) {
  [react-handle-hitarea]: {
    width: 100%;
    height: 100%;
  }
}
